body{
  margin: 0px;
  text-align: center;
  color: #40514E;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 350px;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
   color: #EAF6F6;
}
h1{
  margin: 100px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.bottom-cloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.middle-container{
  margin: 100px 0;
}
.profile-img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.my-intro{
  width: 30%;
  margin: auto auto 70px auto;
  line-height: 2;
}
.divider{
  border: dotted #EAF6F6 8px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;

}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%
}
.anime-img{
  width: auto;
  height: 189.9px;
  float: right;
  margin-left: 64.217px;
  margin-right: 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  padding-bottom: 20px;
}
.end-text{
  padding-bottom: 30px;
  width: 30%;
  text-align: auto;
  margin: 30px auto;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  background: #3fc4ac;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container{
  height: 100px;
}
.bottom-container{
  background-color: #66BFBF;
  padding-top: 40px;
  padding-bottom: 10px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
